{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %} 
    <h1>Article List</h1>
    {% if articles %} 
        <table id="articles" class="table table-stripped">
            <thead>
                <th>Article Title</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="/article/show/{{ article.id }}" class="btn btn-dark">Show Detail</a>
                            <a href="/article/edit/{{ article.id }}" class="btn btn-warning">Edit</a>
                            <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No article to display </h1>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
