{% extends 'base.html.twig' %}

{% block title %}Article Detail{% endblock %}

{% block body %} 
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <hr>
    <a href="/">Back</a>
{% endblock %}

